{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container m-5 mx-auto">
        <div class="row gx-5">
            <div class="col-md-3  offset-md-4 p-5 border border-primary rounded-1">
                    <h1>Inscription</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="d-grid gap-3 ">
                    <button type="submit" class="btn btn-primary btn-lg mx-auto m-3">M'inscrire</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
    
       
    
{% endblock %}
