{% extends 'base.html.twig' %}

{% block title %}Taches index{% endblock %}

{% block body %}
{% if app.user %}
<div class="container">
    <div class="d-flex justify-content-center mt-5 mb-5">
        <h1>Taches index</h1>
    </div>
    {% include "_partials/_search_data.html.twig" with{
        form: form
    } only %}
    
    <table class="container table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Priorite</th>
                <th>Statut</th>
                <th>Start</th>
                <th>End</th>
                {# <th>Background Color</th>
                <th>Border Color</th>
                <th>Text Color</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
    

        {% for tach in taches %}
            
            <tr>
                
                <td>{{ tach.title }}</td>
                <td>{{ tach.description }}</td>
                <td>
                    {% for priority in tach.priorite %}
                        {{ priority }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ tach.statut | join(', ') }}</td>
                <td>{{ tach.start ? tach.start.format('Y-m-d') : '' }}</td>
                <td>{{ tach.end ? tach.end.format('Y-m-d') : '' }}</td>
                

            {% if tach.createur == app.user %}
                <td>
                    <a href="{{ path('app_taches_show', {'id': tach.id}) }}">Voir</a>
                    <a href="{{ path('app_taches_edit', {'id': tach.id}) }}">Modifier</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
            
        
        {% endfor %}
        </tbody>
    </table>
    <section class="d-flex justify-content-center mb-5 pb-5">
        <div class="card " style="width: 18rem;">
            {# <img class="card-img-top" src="{{ asset('assets/img/addition-thick-symbol.png')}}" alt="plus"> #}
            <div class="card-body d-flex row">
                <h5 class="card-title text-center">Nouvelle Tache</h5>
                <a href="{{ path('app_taches_new') }}" class="btn btn-primary justify-content-center
                ">Ajouter</a>
            </div>    
        </div>
    </section>
   
</div>
{% else %}    
    {% set targetUrl = path('app_index') %}
        <p>Vous devez être connecté pour accéder à cette page. Redirection en cours...</p>
        <meta http-equiv="refresh" content="2;url={{ targetUrl }}">
{% endif %}
{% endblock %}