{% extends 'base.html.twig' %}

{% block title %}Taches index{% endblock %}

{% block body %}
<div class="container gap-3">
    <h1>Taches index</h1>

    <div class="card" style="width: 18rem;">
        {# <img class="card-img-top" src="{{ asset('assets/img/addition-thick-symbol.png')}}" alt="plus"> #}
        <div class="card-body">
            <h5 class="card-title">Nouvelle Tache</h5>
            <a href="{{ path('app_taches_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
        
    </div>

    <table class="container table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Description</th>
                <th>Priorite</th>
                <th>Statut</th>
                <th>Start</th>
                <th>End</th>
                {# <th>Background Color</th>
                <th>Border Color</th>
                <th>Text Color</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tach in taches %}
            <tr>
                
                <td>{{ tach.title }}</td>
                <td>{{ tach.description }}</td>
                <td>
                    {% for priority in tach.priorite %}
                        {{ priority }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ tach.statut | join(', ') }}</td>
                <td>{{ tach.start ? tach.start.format('Y-m-d') : '' }}</td>
                <td>{{ tach.end ? tach.end.format('Y-m-d') : '' }}</td>
                {# <td>{{ tach.background_color }}</td>
                <td>{{ tach.border_color }}</td>
                <td>{{ tach.text_color }}</td> #}
                <td>
                    <a href="{{ path('app_taches_show', {'id': tach.id}) }}">show</a>
                    <a href="{{ path('app_taches_edit', {'id': tach.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}